#marcoPalabra {
    text-align: center;
    padding: 20px;
}

#marcoLetra {
    text-align: center;
}

.txtLetra {
    width: 10px;
}

.txtLetraAdivinar {
    width: 100px;
    font-size: 50px;
}

.txtLetra:hover {
    background-color: aquamarine;
}

#sprite {
    height: 243px;
    width: 198px;
}