.sprite0 {
    height: 239px;
    width: 195px;
    background: url(sprites.jpg) -0px -3px no-repeat;
}

.sprite1 {
    height: 243px;
    width: 198px;
    background: url(sprites.jpg) -574px -2px no-repeat;
}

.sprite2 {
    height: 243px;
    width: 189px;
    background: url(sprites.jpg) -768px -480px no-repeat;
}

.sprite3 {
    height: 235px;
    width: 193px;
    background: url(sprites.jpg) -483px -726px no-repeat;
}

.sprite4 {
    height: 236px;
    width: 197px;
    background: url(sprites.jpg) -675px -725px no-repeat;
}